<template>

    <div class="vue-img-preview-container">

        <img class="vue-img-preview" :src=getSetImage :alt=altText v-if="getSetImage">

        <input v-show="false" type="file" ref="soriano" accept="image/*" :name="inputName" @change="chooseImage">

       	<v-btn @click="$refs.soriano.click()" color="green darken-3 white--text">Carregar imagem</v-btn>


        <v-chip v-for="(img, i) in getImagem" :key="i">{{ `Imagem: ${img.slice(30, 40)}`}}</v-chip>

    </div>

</template>

<script>
    import {mapActions, mapGetters} from 'vuex'
	export default {
		props: {
			defaultImage: {
		  		type: String,
		    	default: "",
		  	},
		  	inputName: {
		  		type: String,
		  		default: "file",
		  	},
		  	bgColor: {
		  		type: String,
		  		default: "#037B38"
		  	},
		  	textColor: {
		  		type: String,
		  		default: "#ffffff"
		  	},
		  	altText: {
		  		type: String,
		  		default: "Imagem não carregada"
		  	},
		  	buttonText: {
		  		type: String,
		  		default: "Escolha uma imagem"
		  	},
		  	pickerStyle: {
		  		type: String,
		  		default: "regular"
		  	}
		},
		data () {
			return {
				setImage: null,
				buttonStyle: {
					backgroundColor: this.bgColor,
					color: this.textColor,
				}
			}
		},
		computed: {
            ...mapGetters(['getImagem']),
			getSetImage () {
				return this.setImage !== null ? this.setImage : this.defaultImage
			},
		},
	    methods: {
            ...mapActions(['pegaImagem']),
            changeSetImage()
            {
                return this.setImage = null
            },
            removeImagem(img, i)
            {
                console.log(i)

                this.getImagem.splice(i, this.getImagem.length)

                console.log(this.getImagem)

                if(this.getImagem.length == 0)
                {
                    this.setImage = this.defaultImage
                }
            },
	        chooseImage (e) {
	        	let files = e.target.files;
	        	if(files.length === 0) {
	        		this.setImage = null
	        		return
	        	}
	        	let reader = new FileReader();
	        	reader.onload = (e) => {
                    this.setImage = e.target.result;
					this.pegaImagem(this.setImage)
					console.log(e.target.result)
                }
                reader.readAsDataURL(files[0]);
	        },
	    },
	}
</script>

<style>
	@import url(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);
	/**
	 * the container div for
	 * the whole plugin template
	 */
	.vue-img-preview-container {
		height: 100%;
		width: 100%;
	}

    .form-group{
        width: 100px !important;
    }
	/**
	 * the class target the
	 * preview image
	 */
	.vue-img-preview {
		height: 80%;
		width: 60%;
		margin-bottom: 5px;
        display: flex;
        margin: 0 auto;
	}
	#vue-img-preview-button {
	    margin-top: 5px;
	    position: relative;
	    overflow: hidden;
	}
	#vue-img-preview-button input {
		width: 100%;
	    cursor: pointer;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    opacity: 0.001
	}
	/**
	 * the normal file picker input
	 * setting border and color
	 */
	#vue-img-preview-regular {
		border-style: solid;
		border-color: #cccccc;
		border-width: 1px;
	}
	/**
	 * the normal file picker input
	 * setting the margins
	 */
	#vue-img-preview-regular input {
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
</style>
