<template>
  <div class="text-xs-center">
    <div class="bodyLogin">
        <v-card class="elevation-0 card-border pa-5" width="500px"><img class="mt-4 mb-0" src="../assets/logo.jpg" width="250" />
            <div class="padding">
                <v-text-field class="my-input" label="Login" color="green darken-4" v-model="acesso.email" @keyup.enter="entra"></v-text-field>
                <v-text-field label="Senha" color="green darken-4" v-model="acesso.senha" @keyup.enter="entra" :append-icon="showPass ? 'visibility_off' : 'visibility'" :type="showPass ? 'text':'password'" @click:append="showPass=!showPass"></v-text-field>
                <v-btn class="green darken-3 white--text" :loading="loader" :disabled="loader || !acesso.email || !acesso.senha" @click="entra" large="large" block="block" round="round">
                    <v-icon v-html="loader || !acesso.email || !acesso.senha ? 'lock' : 'lock_open'"></v-icon>
                    <div class="font-weight-bold">Entrar </div>
                </v-btn>
            </div>
        </v-card>
    </div>
</div>

</template>

<script>
//import facebookLogin from "facebook-login-vuejs";
import { mapActions } from "vuex";
import axios from "axios";

export default {
  name: "login",
  components: {
    //facebookLogin
  },
  data() {
    return {
      isConnected: false,
      name: "",
      email: "",
      personalID: "",
      FB: undefined,
      showPass:false,
			loader:false,
      acesso: {
        email: '',
        senha: ''
      }
    };
  },
  methods: {
    ...mapActions(["setToken", 'loginDash', "setUser"]),
    entra()
    {
      //console.log(this.acesso)
      this.loader = true
      this.loginDash(this.acesso).then(r => {
        if (r.data.status)
        {
          this.loader = false
          if(r.data.status) {
            this.setToken(r.data)
            this.$router.push("/home");
          }else{
            this.$eventHub.$emit('snackBarError', r.data.message);
          }

        }
      })
      .catch(e => console.log("err:", e));

      /*this.$store.getters.getApi.post("login", { token }).then(r => {
        if (r.data.status)
        {
          console.log(r.data)
          this.setToken(r.data);
          this.$router.push("/home");
        }
      })
      .catch(e => console.log("err:", e));*/
    },
    /*getUserData() {
      this.FB.api(
        "/me",
        "GET",
        { fields: "id,name,email" },
        userInformation => {
          this.personalID = userInformation.id;
          this.email = userInformation.email;
          this.name = userInformation.name;
        }
      );
    },*/
    /*sdkLoaded(payload) {
      let token = payload.FB.getAccessToken();

      console.log('token',token)

      this.$store.getters.getApi.post("auth/facebook", { token }).then(r => {
        if (r.data.status)
        {
          console.log(r.data)
          this.setToken(r.data);
          this.$router.push("/home");
        }
      })
      .catch(e => console.log("err:", e));

      this.isConnected = payload.isConnected;
      this.FB = payload.FB;
      if (this.isConnected) this.getUserData();
    },*/
    onLogin() {
      console.log('api', this.$store.getters.getApi)
      this.isConnected = true;
      //this.getUserData();
    },
    onLogout() {
      this.isConnected = false;
    }
  }
};
</script>

<style lang="stylus" scoped>

	.card-border
		border-radius: 15px

	.my-input.v-input .v-input__slot
		border-radius: 100px

	#fundo
		background url('https://cdn.pixabay.com/photo/2013/06/20/13/52/nasa-140304_960_720.jpg')

	.btn-color
		background-color rgb(30, 74, 154) !important

	.bodyLogin
		position fixed
		top 0
		right 0
		bottom 0
		left 0
		background url('../assets/fundo.png')
		background-repeat no-repeat
		background-size cover
		display flex
		justify-content center
		align-items center
		font-size 16px

	.headerLogin

		padding 30px 20px

		font-size 1.2em
		font-weight normal
		text-transform uppercase


</style>
