<template>
  <v-layout>
    <v-flex xs12 sm12>
      <v-card class="elevation-0">
        <v-card-title>
          <span class="headline">Lista de Usuários</span>
          <v-spacer></v-spacer>  
          <v-btn @click="userForm = true" color="green darken-2" dark>Novo Usuário</v-btn>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="getUsuarios"
          hide-actions
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.nome }}</td>
            <td class="text-xs-left">{{ props.item.email }}</td>
            <td class="text-xs-center">
              <v-btn fab small @click="editItem(props.item)">
                <v-icon>edit</v-icon>
              </v-btn>

              <v-btn fab small color="red" dark @click="deleteItem(props.item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>

    <v-dialog v-model="userForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Cadastrar novo usuário</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="usuario.nome" label="Nome" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="usuario.email" label="Email" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="usuario.senha" label="Senha" type="password" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="userForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="cadastrar(usuario)">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editForm" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar usuário</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="usuario.nome" label="Nome" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="editForm = false">Fechar</v-btn>
          <v-btn color="blue darken-1" flat @click="editUser(usuario)">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-layout>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'
  import PictureInput from 'vue-picture-input'
  export default {
    components: {
      PictureInput
    },
    data () {
      return {
        userForm: false,
        editForm: false,
        search: '',
        usuario: {
          nome: '',
          email: '',
          senha:'',
          associacao_id: ''
        },
        headers: [
          {
            text: 'Nome',
            align: 'left',
            sortable: false,
            value: 'nome'
          },
          {
            text: 'Email',
            align: 'left',
            sortable: false,
            value: 'email'
          },
          {
            text: 'Ação',
            align: 'center',
            sortable: false,
            value: 'nome'
          },
        ]
      }
    },
    methods:{
      ...mapActions(['listaUsuarios', 'cadastraUsuario', 'alteraUsuario', 'removeUsuario']),
      cadastrar(usuario){
        usuario.associacao_id = this.getUser.associacao_id._id
        this.cadastraUsuario(usuario).then(r => {
          console.log(r)
          if(r.enabled) {
            this.$eventHub.$emit('snackBar', r.message);
            this.userForm = false
            this.listaUsuarios()
          }
        })
      },

      editItem(u) {
        this.editForm = true
        this.usuario = Object.assign({}, u)
      },

      editUser(user) {
        this.alteraUsuario(user).then(r => {
          if(r.enabled) {
            this.$eventHub.$emit('snackBar', r.message);
            this.editForm = false
            this.listaUsuarios()
          }
        })
      },

      deleteItem(user_id)
      {
        if(confirm("Tem certeza?"))
        {
            this.removeUsuario(user_id).then(r => {
              this.$eventHub.$emit('snackBar', r.message);
              this.listaUsuarios()
            })
        }
      },
    },
    mounted() {
      this.listaUsuarios()
    },
    computed: {
      ...mapGetters(['getUsuarios', 'getUser']),
    },
  }
</script>
